.noData {
	padding:50px 0;
	text-align: center;
}
.lnkFriends {
	padding: 25px 0;
    text-align: center;
	a {
		cursor: pointer;
		color:#5a5959;
		&:hover{
			text-decoration: underline;
		}
		span {color: #08bece;}
	}
}
